@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lato:wght@900&display=swap");

@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$font: var(--font);
$header-color: var(--header-color);
$background-color: var(--background-color);
$primary-color: var(--primary-color);
$primary-color-semi-trans: var(--primary-color-semi-trans);
$secondary-color: var(--secondary-color);
$text-highlight: var(--text-highlight);
$alert-color: var(--alert-color);

$box-outline: var(--box-outline);
$box-outline-focus: var(--box-outline-focus);

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;

  background-image: url("./imgs/bg.jpeg");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

.bebas {
  font-family: "Bebas Neue";
}

.landingBG {
  z-index: 1400;
}

.landingBG::-webkit-scrollbar {
  display: none;
}

.landingCont {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  background: linear-gradient(90deg, rgb(9, 124, 53));
  position: relative;
}

.landingHeader {
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  background-image: url("./imgs/TenantAct.png");
  background-size: contain;
  background-position: center left;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  background-repeat: no-repeat;
  overflow: hidden !important;
  position: relative; /* establish a stacking context */
}

#hero .landingCont::after {
  width: 100vw;
  height: 100vh;
  content: "";
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none; /* let clicks pass through */
  background: url("./imgs/overlay.jpg");
  background-repeat: no-repeat;
  overflow: hidden !important;
  transform: rotate(180deg);
  -webkit-filter: invert(100%);

  background-size: cover;
  mix-blend-mode: overlay; /* blend the grain into your BG */
  opacity: 0.3; /* tweak for subtlety */
}

.landingDialogue {
  overflow: hidden !important;
  position: absolute;
  top: 75%;
  right: 15%;
  transform: translate(25%, -50%);
  width: 280px;

  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 20px;
}

@media (max-width: 700px) {
  .landingHeader {
    background-size: 100%;
    overflow: hidden !important;
    background-position: left 20%;
  }
  .landingDialogue {
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.homeContainer {
  height: 100vh; /* full screen height */
  overflow-y: auto; /* enable scrolling on this box */
  scroll-snap-type: y mandatory; /* snap its children vertically */

  /* optional: hide the scrollbar if you like */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.homeContainer::-webkit-scrollbar {
  display: none;
}

/* Each section will snap to the top of the container */
.homeChild {
  scroll-snap-align: start;
  min-height: 100vh; /* so each takes a full “page” */

  /* your other layout rules… */
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.header {
  font-weight: 500;
  line-height: 0.95em;
  color: white;
}

.header1 {
  font-size: 8.5em;
}
.header2 {
  font-size: 3.5em;
}
.header3 {
  font-size: 2em;
}

.desc_text {
  text-align: center;
  margin-bottom: 5px;
}

.outerContainer {
  margin: 0 !important;
  position: absolute;
  top: 0;
}

.notFlash {
  background-color: inherit;
  padding: 5px !important;
  border-radius: 5px;
  transition: 0.5s;
}

.flash {
  background-color: lightgreen !important;
  padding: 5px !important;
  border-radius: 5px;
  transition: 1s;
}

.landing {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.landingContainerSmall {
  background-color: rgba(0, 66, 25, 0.9);
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 80%;
  min-width: 260px;
  max-width: 500px;
  margin-top: 10vh;
  margin-bottom: 100px;
}

.landingContainer {
  background-color: rgba(0, 66, 25, 0.9);
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 80%;
  min-width: 280px;
  max-width: 800px;
  margin-top: 10vh;
  margin-bottom: 40px;
}

.navBar {
  background-color: rgba(0, 66, 25, 0.9);
  width: 100vw;
  height: 50px;
  margin-bottom: 0px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.show {
  opacity: 1;
  transition: 2s;
}

.hide {
  opacity: 0;
  transition: 1s;
}

.showOnMob {
  visibility: hidden;
  height: 0px !important;
}

.vanishLeft {
  margin-right: 140vw;
  opacity: 0;
  transition: 0.5s;
}

.vanishRight {
  margin-left: 140vw;
  opacity: 0;
  transition: 0.5s;
}

.fadeIn {
  opacity: 0;
  transition: 0.3s;
}
.fadeFinished {
  opacity: 1;
  transition: 0.3s;
}

.hoverCampBox:hover {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 600px) {
  .header1 {
    font-size: 5.5em;
    line-height: 1em !important;
  }
  .header2 {
    font-size: 2.5em;
  }
  .header {
    line-height: 1.2em;
    font-weight: 400;
  }
  .landing {
    font-size: medium;
  }
  .landingContainer {
    margin-top: 10px;
  }
  .hideOnMob {
    visibility: hidden;
  }
  .showOnMob {
    visibility: visible;
    height: 35px !important;
  }
  .NavBarLink {
    font-size: 20px;
  }
}

.itemContainer {
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.itemContained {
  grid-area: inner-div;
}

.itemExplainer {
  width: 160px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  opacity: 1;
  border-radius: 10px;
  transition: 0.5s;
  padding-bottom: 0;
}

.itemExplainer:hover {
  opacity: 0;
  transition: 0.5s;
}

.screenshot {
  width: 225px;
  height: auto;
  border-radius: 5px;
  border: 3px solid rgba(129, 147, 136, 0.8);
}
